.MenuWrapper {
    display: flex;
    justify-content: space-between;
}

.cuenta {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    font-size: 62.5%;
  }