.btn {

    outline: none;
    border:none;
    width: 100%;
    padding: 10px 8px;
    cursor:pointer;
    transition: all .2s ease-out;
}

.btn:hover {
    transform: scale(1.1);
}

.green {
    background-color: green;
    color: white;
}


.red {
    background-color: red;
    color: white;
}


.small {
    width: 50%;
}

.blue {
    background-color: yellow;
    color:purple;
}

.noBig {
    transition: none;
}

.noBig:hover {
    transform: none;
    animation: wiggle 5s linear infinite ; 
}

@keyframes wiggle {
    2%, 18% {
      transform: translate3d(-1px, 0, 0);
    }
    
    4%, 16% {
      transform: translate3d(2px, 0, 0);
    }
  
    6%, 10%, 14% {
      transform: translate3d(-4px, 0, 0);
    }
  
    8%, 12% {
      transform: translate3d(4px, 0, 0);
    }

    20%, 100%
    {
        transform: translate3d(0px, 0, 0);
    }
    
  }